.ngGridStyle
    margin 10px 20px
    border 2px solid green
    border-radius 5px
    width 1220px
    height 420px

.ngSelectionCell
    color red
    height 10px
    line-height 10px
    vertical-align middle

.bgdanger
    widt 40px
    color green